

<!-- [ Main Content ] start -->
<div class="pcoded-main-container" style="min-height:unset !important;">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-xl-2 col-md-1"></div>
                            <div class="col-xl-8 col-md-12">
                                <div class="card">
{{!--
                                    <div class="card-header">
                                     <h5>Modify List</h5>
                                    </div>
--}}
                                    <div class="card-block">
                                        <div class="row" style="margin-bottom:10px;">
                                          <div class="col-md" style="text-align: center;">
                                            <i class="feather icon-edit f-20 text-c-blue" style="cursor: pointer;position: absolute;left: 0px;padding-left: 10px;" onclick="editList();"></i>  
                                            <h5>Default/Current Lists</h5>
                                          </div>
                                        </div>
                                        <div class="row" id="modifyListBody" style="height:65vh;overflow: auto;">
                                            <div class="col-md">
                                                <div id="currentListsDiv"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-md-1"></div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
