

<!-- [ Main Content ] start -->
<div class="pcoded-main-container" style="min-height:unset !important;">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-xl-1 col-md-1"></div>
                            <div class="col-xl-10 col-md-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="row" style="margin-bottom:10px;">
                                          <div class="col-md" style="text-align: center;">
                                            <h5>
                                             Current Entries 
                                             <i class="feather icon-plus-circle f-20 text-c-green" style="cursor: pointer;vertical-align:bottom;" onclick="addEntryPrompt();"></i>
                                             <i class="feather icon-filter f-20" style="cursor: pointer;vertical-align:bottom;position: absolute;right: 0px;color:orange;padding-right:5px;" onclick="filterEntriesPrompt();"></i>
                                            </h5>
                                          </div>
                                        </div>
                                        <div class="row" id="modifyEntryFilters"></div>
                                        <div class="row" id="modifyEntryBody" style="height:75vh;overflow: auto;">
                                            <div class="col-md">
                                                <div id="currentEntriesDiv"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-1 col-md-1"></div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
