
 <!-- [ Main Content ] start -->
  <div class="pcoded-main-container" style="min-height:unset !important;">
   <div class="pcoded-wrapper">
    <div class="pcoded-content">
     <div class="pcoded-inner-content">
      <div class="main-body">
       <div class="page-wrapper">
        <!-- [ Main Content ] start -->
        <div class="row">
         <div class="col-xl-1 col-md-1"></div>
          <div class="col-xl-10 col-md-12">
           <div class="card">
            <div class="card-header">
             <h5>Modify List</h5>
             <div class="card-header-right">
              <div class="btn-group card-option" style="vertical-align: -webkit-baseline-middle;">
               <button type="button" class="btn dropdown-toggle" onclick="alert('Button has been clicked');">
                <i data-feather="plus-circle" width="20px" style="color:#80c397">&nbsp;</i>
               </button>
               <button type="button" class="btn dropdown-toggle">
                <i data-feather="refresh-cw" width="20px" style="color:#2978b5">&nbsp;</i>
               </button>
              </div>
             </div>
            </div>
            <div class="card-block">
             <div class="row" id="modifyListBody" style="height:65vh;">
              <div class="col-md-6">
<div class="row" style="margin-bottom:10px;">
<div class="col-md" style="text-align: center;">
 <h5>Add New Lists</h5>
</div>
</div>
<div class="row">
 <div id="addNewListsDiv"></div>
 <div class="col-md-4">
  <input id="input-0" type="text" class="form-control" style="padding: 5px 5px !important;" placeholder="List Name" maxlength="10">
 </div>
 <div class="col-md-6">
               <select id="listSelect-0" class="js-example-tags col-sm-12" multiple="multiple" placeholder="Click Text in Dropdown or Press Enter to enter another list item."></select>   
 </div>
 <div class="col-md-2">
               <button type="button" class="btn" style="background-color: transparent;padding: 5px !important;margin-right:0px !important;" onclick="testButton('input-0','listSelect-0');">
                <i data-feather="plus-circle" width="20px" style="color:#80c397">&nbsp;</i>
               </button>
               <button type="button" class="btn" style="background-color: transparent;padding: 5px !important;margin-right:0px !important;">
                <i data-feather="refresh-cw" width="20px" style="color:#2978b5">&nbsp;</i>
               </button>
 </div>
</div>
              </div>
              <div class="col-md-6" style="border-left: 1px solid #eaeaea;">
<div class="row" style="margin-bottom:10px;">
<div class="col-md" style="text-align: center;">
 <h5>Current Lists</h5>
</div>
</div>
 <div id="currentListsDiv";></div>
 <div class="card-block border-bottom">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="feather icon-list f-30 text-c-green"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 class="f-w-300">235</h3>
                                                    <span class="d-block text-uppercase">TOTAL IDEAS</span>
                                                </div>
                                            </div>
                                        </div>
              </div>
             </div>
            </div>
           </div>
          </div>
          <div class="col-xl-1 col-md-1"></div>
         </div>
         <!-- [ Main Content ] end -->
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <!-- [ Main Content ] end -->
