

<!-- [ Main Content ] start -->
<div class="pcoded-main-container" style="min-height:unset !important;">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-xl-2 col-md-1"></div>
                            <div class="col-xl-8 col-md-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="row" style="margin-bottom:10px;">
                                          <div class="col-md" style="text-align: center;">
                                            <h5>
                                             <i class="feather icon-plus-circle f-20 text-c-green" style="cursor: pointer;vertical-align:bottom;position: absolute;left: 0px;padding-left: 10px;" onclick="addAccountPrompt();"></i>
                                             Current Accounts 
                                            </h5>
                                          </div>
                                        </div>
                                        <div class="row" id="modifyAccountBody" style="height:65vh;overflow: auto;">
                                            <div class="col-md">
                                                <div id="currentAccountsDiv"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-md-1"></div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
