<section class="" id="top">
 <div class="pcoded-wrapper">
  <div class="pcoded-content">
   <div class="pcoded-inner-content">
    <div class="col-xs-1 text-center">
     <img id="login-image" src="public/images/piggy_bank_bad.svg" style="max-width: 20vh;max-height: auto;padding-bottom: 30px;">
    </div>
    <div class="main-body">
     <div class="page-wrapper">
      <div class="row text-center" style="margin-top:5vh;">
       <div class="text-center col-md-12">
        <h3 style="font-weight:600">Your current browser is incompatible. Please visit this site in a newer browser.</h3>
       </div>
      </div>
      <!-- [ Main Content ] start -->
      <div class="row text-center" style="margin-top:15vh">
       <div class="col-sm-2" style="padding-bottom:20px">
        <a href="https://duckduckgo.com/?q=download+chrome+browser" target="_blank"><img src="public/images/chrome.svg" style="max-width: 20vh;max-height: auto;"></a>
       </div>
       <div class="col-sm-3" style="padding-bottom:20px">
        <a href="https://duckduckgo.com/?q=download+firefox+browser" target="_blank"><img src="public/images/firefox.png" style="max-width: 20vh;max-height: auto;"></a>
       </div>
       <div class="col-sm-2" style="padding-bottom:20px">
        <a href="https://duckduckgo.com/?q=download+opera+browser" target="_blank"><img src="public/images/opera.png" style="max-width: 20vh;max-height: auto;"></a>
       </div>
       <div class="col-sm-3" style="padding-bottom:20px">
        <a href="https://duckduckgo.com/?q=download+edge+browser" target="_blank"><img src="public/images/edge-2.png" style="max-width: 20vh;max-height: auto;"></a>
       </div>
       <div class="col-sm-2" style="padding-bottom:20px">
        <a href="https://duckduckgo.com/?q=download+apple+safari+browser" target="_blank"><img src="public/images/safari.svg" style="max-width: 20vh;max-height: auto;"></a>
       </div>
      </div>
      <!-- [ Main Content ] end -->
     </div>
    </div>
   </div>
  </div>
 </div>
</section><!-- [ Main Content ] end -->
