    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="index.html" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title" style="font-size:15px;">Financial Asset Tracker</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item pcoded-hasmenu active pcoded-trigger">
                        <a href="javascript:" class="nav-link"><span class="pcoded-micon"><i data-feather="trending-up"></i></span><span class="pcoded-mtext">Dashboards</span></a>
                        <ul class="pcoded-submenu">
                            <li class="active"><a href="/" class="">Overview</a></li>
                            <li class=""><a href="/finance-tracker" class="">Finance Tracker</a></li>
                            <li class=""><a href="/bills" class="">Monthly Bills</a></li>
                            <li class=""><a href="/ammoritization-table" class="">Ammoritization Table</a></li>
                            <li class="pcoded-hasmenu"><a href="javascript:" class="">Precious Metals</a>
                                <ul class="pcoded-submenu">
                                    <li class=""><a href="/silver" class="">Silver</a></li>
                                    <li class=""><a href="/gold" class="">Gold</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li data-username="Vertical Horizontal Box Layout RTL fixed static Collapse menu color icon dark" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link"><span class="pcoded-micon"><i data-feather="tool"></i></span><span class="pcoded-mtext">Tools/Calculators</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="land-calculator" class="">Land Calculator</a></li>
                            <li class="pcoded-hasmenu"><a href="javascript:" class="">Vertical</a>
                                <ul class="pcoded-submenu">
                                    <li class=""><a href="/land-calculator" class="" target="_blank">Land Calculator</a></li>
                                </ul>
                            </li>
                            <li class=""><a href="layout-box.html" class="" target="_blank">Box layout</a></li>
                        </ul>
                    </li>
                    <li data-username="widget Statistic Data Table User card Chart" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link"><span class="pcoded-micon"><i data-feather="layers"></i></span><span class="pcoded-mtext">Forms</span><span class="pcoded-badge label label-info">100+</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="widget-statistic.html" class="">Statistic</a></li>
                            <li class=""><a href="widget-data.html" class="">Data</a></li>
                            <li class=""><a href="widget-table.html" class="">Table</a></li>
                            <li class=""><a href="widget-user-card.html" class="">User</a></li>
                            <li class=""><a href="widget-chart.html" class="">Chart</a></li>
                        </ul>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Settings</label>
                    </li>
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link"><span class="pcoded-micon"><i data-feather="settings"></i></span><span class="pcoded-mtext">Configuration</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="bc_alert.html" class="">API Keys</a></li>
                        </ul>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Support</label>
                    </li>
                    <li data-username="Menu levels Menu level 2.1 Menu level 2.2" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link"><span class="pcoded-micon"><i data-feather="book"></i></span><span class="pcoded-mtext">Documentation</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="https://treestarsystems.atlassian.net/wiki/home" target="_blank" class="">Project Documentation</a></li>
                            <li class="pcoded-hasmenu">
                                <a href="javascript:" class="">GitHub &nbsp;<i data-feather="github"></i></a>
                                <ul class="pcoded-submenu">
                                    <li class=""><a href="https://github.com/treestarsystems/fat" target="_blank" class="">Project Repository</a></li>
                                    <li class=""><a href="https://github.com/treestarsystems" target="_blank" class="">Tree Star Systems</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li data-username="Need Support" class="nav-item"><a href="https://treestarsystems.com/" class="nav-link" target="_blank"><span class="pcoded-micon"><i data-feather="help-circle"></i></span><span class="pcoded-mtext">Need Support ?</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->
