<div class="auth-wrapper">
 <div class="auth-content">
  <div class="auth-bg">
   <span class="r"></span>
   <span class="r s"></span>
   <span class="r s"></span>
   <span class="r"></span>
  </div>
  <div class="card">
   <div class="card-body text-center">
    <div class="mb-4">
{{!--     <img style="width:30%; height:auto; max-height: 20vh;" src="../public/images/money_bag_wealth.svg" id="login-image"> --}}
     <img style="width:30%; height:auto; max-height: 20vh;" src="" id="login-image">
    </div>
    <div class="input-group mb-3">
     <input id="fullname" type="text" class="form-control" placeholder="Full Name">
    </div>
    <div class="input-group mb-3">
     <input id="username" type="text" class="form-control" placeholder="Username">
    </div>
    <div class="input-group mb-3">
     <input id="email" type="text" class="form-control" placeholder="Email">
    </div>
    <div class="input-group mb-3">
     <select class="form-control" id="accessLevel">
      <option value="member">Member</option>
      <option value="admin">Admin</option>
     </select>
    </div>
    <div class="input-group mb-4">
     <input id="password" type="password" class="form-control" placeholder="Password">
    </div>
    <div class="input-group mb-4">
     <input id="passwordRepeat" type="password" class="form-control" placeholder="Repeat Password">
    </div>
    <div class="input-group mb-4">
     <input id="registrationKey" type="password" class="form-control" placeholder="FAT Registration Key">
    </div>
    <button class="btn btn-primary shadow-2 mb-4" onclick="submitRegistration();">Register</button>
    <p class="mb-0 text-muted">Already have an account? <a href="/login"> Log in</a></p>
    <div id="error-container" class="alert alert-danger alert-dismissible fade show d-none" role="alert">
     <div id="error-list" style="font-weight:700"></div>
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
     </button>
     </div>
    </div>
   <div class="col-md-12" style="text-align:center;" id="ipAddress"></div><br>
  </div>
 </div>
</div>
